global:
  scrape_interval: 30s
  evaluation_interval: 30s
scrape_configs:
  - job_name: node
    static_configs:
      - targets: ['127.0.0.1:19100']
  - job_name: prometheus
    static_configs:
      - targets: ['127.0.0.1:19090']
  - job_name: grafana
    static_configs:
      - targets: ['127.0.0.1:13000']
